@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap'); /* Import Anton SC font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Import Inter font */

#header {
    background-color: #f2c000;
    padding: 15px 20px;
    font-family: "Anton SC", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.h1{
    margin: 0;
    font-size: 48px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.navIcon {
    width: 22px;
    height: auto;
}

.mainContent {   
    margin: 6%;
    margin-top: 4%;
}

.contentSpacing{
    margin-bottom: 3%;
}

.paraLabel{
    font-family: "Anton SC", sans-serif;
    font-size: 28px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
}

.paraText{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
}

.buttons{
    font-family: "Inter", sans-serif;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.yellowButton {
    background-color: #f2c000;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 30px;
}

nav {
    display: flex;
    justify-content: end;
}

body {
    background-image: url('images/Website_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}