@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap'); /* Import Anton SC font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Import Inter font */

/* style for header */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f2c000;
    padding: 15px 20px;
    font-family: "Anton SC", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

/* style for header text */
.h1{
    margin: 0;
    font-size: 48px;
    cursor: pointer;
    color:#000000;
    text-decoration: none;
}

/* style for yellow line under header */
.yellowLine1{
    width: 15%;
    height: 4px;
    background-color: #f2c200;
    margin: 0 auto;
}

.yellowLine2{
    width: 80%;
    height: 4px;
    background-color: #f2c200;
    margin: 0 auto;
}

.navPadding{
    padding-right: 40px;
}

/* style for navigation alignment */
.nav-right {
    display: flex;
    align-items: center;
}

/* style for navigation buttons */
.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

/* style for navigation icons */
.navIcon {
    width: 22px;
    height: auto;
}

/* style for main content spacing */
.mainContent {   
    margin: 6%;
    margin-top: 150px;
}

/* style for content spacing */
.contentSpacing{
    margin-bottom: 3%;
}

.lineSpacing{
    padding-bottom: 15px;
}   

/* style for login spacing */
.loginSpacing{
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

/* style for centering text */
.textCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* style for login text */
.loginCenter{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    display: block;
    text-align: left;
    margin-right: auto;
}

/* style for centering input box */
.inputCenter{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* style for input box */
.inputBox{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ffffff00;
    color:#ffffff;
    border: #ffffff 2px solid;
    border-radius: 8px;
    height: 40px;
    display: block;
    min-width: 0;
}

/* style for input fields */
.inputField{
    background-color: #ffffff00;
    color:#ffffff;
    border: white 0.75px solid;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 0 10px 0 10px;
}

/* style for login box */
.loginBox{
    background-color: #1a1a1ab0;
    padding: 20px;
    border-radius: 32px;
    border: #ffffff 2px solid;
    max-width: 600px;
    margin: 0 auto;
}

/* style for checkbox alignment */
.alignCheckbox{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

/* style for all paragraph labels */
.paraLabel{
    font-family: "Anton SC", sans-serif;
    font-size: 28px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
}

/* style for all paragraph text */
.paraText{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
    text-align: start;
}
/* style for all buttons */
.buttons{
    font-family: "Inter", sans-serif;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* style for yellow button */
.yellowButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 30px;
}

/* style for login button */
.loginButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 50px;
    width: 400%;
    font-weight: bold;
    margin: 0 auto;
}

/* padding for login button */
.loginPadding{
    padding-top: 35px;
    padding-bottom: 15px;
    padding-right: 320px;
}

/* style for navigation bar alignment */
nav {
    display: flex;
    justify-content: end;
}

/* style for checkbox spacing */
.checkboxSpaceing{
    margin-left: 8px;
}

/* style for centering boxes */
.boxCenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 75px;
}

.pageTitle{
    font-family: "Anton SC", sans-serif;
    font-size: 38px;
    color: #ffffff;
    line-height: 1.6;
    margin: 20px 0px;
    text-align: center;
}

/* style for games box */
.gamesBox{
    width: 75%;
    height: auto;
    background-color: #000000b2;
    border-radius: 8px;
}

/* style for game cover images */
.gameCover{
    width: 15%;
    height: 15%;
    margin: 10px;
    border-radius: 8px;
}

.gameContainer{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 20px 5%;
}

.gameInfo{

    margin: 0 20px;
    text-align: start;
}


/* style for body background */
body {
    background-attachment: fixed;
    background-image: url('images/Website_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}