@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap'); /* Import Anton SC font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Import Inter font */

/* style for header */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f2c000;
    padding: 15px 20px;
    font-family: "Anton SC", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

/* style for header text */
.h1{
    margin: 0;
    font-size: 48px;
    cursor: pointer;
    color:#000000;
    text-decoration: none;
}

/* style for yellow line under header */
.yellowLine1{
    width: 15%;
    height: 4px;
    background-color: #f2c200;
    margin: 0 auto;
}

/* style for 2nd type of yellow divider*/
.yellowLine2{
    width: 75%;
    height: 4px;
    background-color: #f2c200;
    margin: 50px auto;
}

/*madding for nav bar*/
.navPadding{
    padding-right: 40px;
}

/* style for navigation alignment */
.nav-right {
    display: flex;
    align-items: center;
}

/* style for navigation buttons */
.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

/* style for navigation icons */
.navIcon {
    width: 22px;
    height: auto;
}

/* style for main content spacing */
.mainContent {   
    margin: 6%;
    margin-top: 150px;
}

/* style for content spacing */
.contentSpacing{
    margin-bottom: 3%;
}

/*default line spacer*/
.lineSpacing1{
    padding-bottom: 15px;
}   

/*2nd type of line spacing*/
.lineSpacing2{
    padding-bottom: 15px;
}   

/* style for login spacing */
.loginSpacing{
    padding: 40% 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* style for centering text */
.textCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* style for login text */
.loginCenter{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    display: block;
    text-align: left;
    margin-right: auto;
}

/* style for centering input box */
.inputCenter{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* style for input box */
.inputBox{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ffffff00;
    color:#ffffff;
    border: #ffffff 2px solid;
    border-radius: 8px;
    height: 40px;
    display: block;
    min-width: 0;
}

/* style for input fields */
.inputField{
    background-color: #ffffff00;
    color:#ffffff;
    border: white 0.75px solid;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 0 10px 0 10px;
}

/* style for login box */
.loginBox{
    background-color: #1a1a1ab0;
    padding: 20px;
    border-radius: 32px;
    border: #ffffff 2px solid;
    width: 600px;
    margin: 0 auto;
}

/* style for checkbox alignment */
.alignCheckbox{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

/* style for all paragraph labels */
.paraLabel{
    font-family: "Anton SC", sans-serif;
    font-size: 28px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
}

/* style for all paragraph text */
.paraText{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
    text-align: start;
}

/* style for all buttons */
.buttons{
    font-family: "Inter", sans-serif;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* style for yellow button */
.yellowButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 30px;
}

/* style for login button */
.loginButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    align-items: center;
    height: 50px;
    width: 25vw;
    font-weight: bold;
}

/* padding for login button */
.loginCentering{
    display: flex;
    justify-content: center;
}

.loginPadding{
    padding-top: 30px
}

/* style for navigation bar alignment */
nav {
    display: flex;
    justify-content: end;
}

/* style for checkbox spacing */
.checkboxSpaceing{
    margin-left: 8px;
}

/* style for centering boxes */
.boxCenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 75px;
}

/*Title font*/
.pageTitle1{
    font-family: "Anton SC", sans-serif;
    font-size: 38px;
    color: #ffffff;
    line-height: 1.6;
    margin: 20px 0px;
    text-align: center;
}

/*variation of title font, aligned to left*/
.pageTitle2{
    font-family: "Anton SC", sans-serif;
    font-size: 38px;
    color: #ffffff;
    line-height: 1.6;
    margin: 20px 0px;
    text-align: left;
}

/* style for games box */
.gamesBox{
    width: 75%;
    height: auto;
    background-color: #000000b2;
    border-radius: 8px;
}

/* style for game cover images */
.gameCover{
    width: 15%;
    height: 15%;
    margin: 10px;
    border-radius: 8px;
}

/*centering game sections*/
.gameContainer{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 20px 5%;
}

/*adjusting text for the gamepage*/
.textAdjust{
    text-decoration: none;
    display: flex;
    align-items: start;
    margin: 50px 5%;
}

/*aligning game info*/
.gameInfo{
    margin: 0 20px;
    text-align: start;
}

/*varaition of aligning game info*/
.theGameInfo{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 50px;

}

/*styling for large game cover*/
.gameCoverLarge{
    width: 20%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}

/*styling for game play image*/
.gameplayImage{
    width: 50%;
    height: auto;
    margin: 50px auto;
    display: block;
    border-radius: 8px;
    flex-direction: row;
}

/*Styling for stars*/
.starsIcon{
    display: flex;
    width: 250px;
    height: auto;
    text-align: left;
    padding-bottom: 5px;
}

/*adjusting the title*/
.alignTitle{
    margin-left: 50px;
}

/*aligning input label*/
.reviewLabelAlign{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/*aligning the inuput section*/
.reviewInputAlign{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

/*style for name input box*/
.nameInputBox{
    border: none;
    background-color: #b8141400;
    color: #ffffff;
    text-underline-position: below;
    border-bottom: #ffffff 0.75px solid;
    border-radius: 5px;
    width: 16vw;
    outline: none;
    padding: 5px 10px;
}

/*style for review input box*/
.reviewInputBox{
    border: none;
    background-color: #b8141400;
    color: #ffffff;
    text-underline-position: below;
    border-bottom: #ffffff 0.75px solid;
    border-radius: 5px;
    width: 32vw;
    outline: none;
    padding: 5px 10px;
}

/*Font for reviews*/
.reviewCenter{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    display: block;
    text-align: right;
}

/*aligning submit button*/
.alignSubmitButton{
    display: flex;
    justify-content: flex-end;
    margin: 25px 100px;
}

/*submit button styling*/
.submitReviewButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 60px;
}

/*first review text seperator*/
.reviewSep1{
    width: 80%;
    height: 4px;
    background-color: #727272;
    margin: 0 auto;
}

/*2nd text seperator*/
.reviewSep2{
    width: 80%;
    height: 1px;
    background-color: #434343;
    margin: 0 auto;
}

/*comment bsection styling*/
.reviewCommentBox{
    width: 80%;
    margin: 0 auto;
    padding: 0px 0;
}  

/*username font*/
.username{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
    text-align: start;
}

/* style for body background */
body {
    background-attachment: fixed;
    background-image: url('images/Website_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/*============Mobile Fixes=================*/
@media (max-width: 500px) {
    /* Header */
    .h1 {
        font-size: 22px;
    }

    #header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #f2c000;
        padding: 9px 10px;
        font-family: "Anton SC", sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }

    .mainContent {   
    margin: 6%;
    margin-top: 75px;
}

    .paraLabel{
    font-family: "Anton SC", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
}


    .paraText{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
    text-align: start;
}

    .buttons {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 16px;
        text-decoration: none;
        color: black;
        font-family: "Inter", sans-serif;
        font-weight: bold;
    }

    /* Navbar */
    nav {
        flex-direction: horizontal;
        align-items: center;
    }

    .navPadding{
    padding-right: 20px;
}
    .buttons {
        font-size: 9px;
        padding: 0px 3px;
    }

    .navIcon {
        width: 10px;
    }

    /* Image resizing */
    .gameCover{
    width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

    .gameCoverLarge {
        width: 50%;
    }

    .gameplayImage {
        width: 75%;
        flex-direction: column;
    }

    /* Layout margins */
    .textAdjust{
    text-decoration: none;
    display: flex;
    align-items: start;
    margin: 20px 5%;
    flex-direction: column;
    }

    .gameContainer{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 5%;
    }

    .alignTitle {
        margin-left: 0;
    }

    /* Login box */
    .loginBox {
        max-width: 90%;
        padding: 15px;
    }

    /* Titles */
    .pageTitle1,
    .pageTitle2 {
        font-size: 28px;
    }

    /* Buttons */
    .yellowButton{
        height: 40px;
        padding: 10px 20px;
        font-size: 12;
    }

    .reviewLabelAlign{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
}

    .reviewInputAlign{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

    .nameInputBox{
    border: none;
    background-color: #b8141400;
    color: #ffffff;
    text-underline-position: below;
    border-bottom: #ffffff 0.75px solid;
    border-radius: 5px;
    width: 40vw;
    outline: none;
    padding: 5px 10px;
}

    .reviewInputBox{
    border: none;
    background-color: #b8141400;
    color: #ffffff;
    text-underline-position: below;
    border-bottom: #ffffff 0.75px solid;
    border-radius: 5px;
    width: 70vw;
    outline: none;
    padding: 5px 10px;
}

    .boxCenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 75px;
    padding-bottom: 35px;
    }

    .alignSubmitButton{
    display: flex;
    justify-content: center;
    margin: 25px 100px;
}

    .gamesBox{
    width: 100%;
    height: auto;
    background-color: #000000b2;
    border-radius: 8px;
    }

    .submitReviewButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 60px;
    width: 120px;
    font-size: 12px;
}

    .loginButton {
        background-color: #f2c200;
        border: none;
        border-radius: 8px;
        align-items: center;
        height: 35px;
        width: 50vw;
        font-weight: bold;
        font-size: 14;
}
}