@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap'); /* Import Anton SC font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Import Inter font */

#header {
    background-color: #f2c000;
    padding: 15px 20px;
    font-family: "Anton SC", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.h1{
    margin: 0;
    font-size: 48px;
    cursor: pointer;
    color:#000000;
    text-decoration: none;
}

.yellowLine{
    width: 15%;
    height: 4px;
    background-color: #f2c200;
    margin: 0 auto;
}

.nav-right {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.navIcon {
    width: 22px;
    height: auto;
}

.mainContent {   
    margin: 6%;
    margin-top: 4%;
}

.contentSpacing{
    margin-bottom: 3%;
}

.loginSpacing{
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.textCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginCenter{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    display: block;
    text-align: left;
    margin-right: auto;
}


.inputCenter{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputBox{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #ffffff00;
    color:#ffffff;
    border: #ffffff 2px solid;
    border-radius: 8px;
    height: 40px;
    display: block;
    min-width: 0;
}

.inputField{
    background-color: #ffffff00;
    color:#ffffff;
    border: white 0.75px solid;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 0 10px 0 10px;
}

.loginBox{
    background-color: #1a1a1ab0;
    padding: 20px;
    border-radius: 32px;
    border: #ffffff 2px solid;
    max-width: 600px;
    margin: 0 auto;
}

.alignCheckbox{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

/* style for all paragraph labels */
.paraLabel{
    font-family: "Anton SC", sans-serif;
    font-size: 28px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
}

/* style for all paragraph text */
.paraText{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    margin: 10px 0;
    text-align: start;
}
/* style for all buttons */
.buttons{
    font-family: "Inter", sans-serif;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* style for yellow button */
.yellowButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 30px;
}

/* style for login button */
.loginButton {
    background-color: #f2c200;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    height: 50px;
    width: 400%;
    font-weight: bold;
    margin: 0 auto;
}

/* padding for login button */
.loginPadding{
    padding-top: 35px;
    padding-bottom: 15px;
    padding-right: 320px;
}

/* style for navigation bar alignment */
nav {
    display: flex;
    justify-content: end;
}

/* style for body background */
body {
    background-attachment: fixed;
    background-image: url('images/Website_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}